h2{
    font-size: 16px;
    margin-top: 50px;
    margin-left: 20px;
}

.hero-container{
    width: 100%;
    display: flex;
    
 
 .container-img img {
      width: 150px;
      margin: 5px;
 }



}